@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin:0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

#widgetBox {
  width: 230px;
  height: auto;
  min-height: 300px;
  background-color: #222;
  border-radius: 10px;
  position: absolute;
}

#title {
  position: relative;
  width: 210px;
  height: 45px;
  top: 0;
  background-color: #444;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#title img {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 10px;
}

h2 {
  color: #ccc;
  font-size: 11pt;
  margin: 0;
}

h3 {
  color: #bbb;
  font-size: 10pt;
  margin: 0;
}

#body {
  padding: 10px;
}

ul {
  list-style: none;
  color: #ccc;
  padding: 5px;
  margin: 0;
}

li {
  color: #999;
  line-height:13px;
  margin-bottom:5px;
  font-size:11pt;
}

li img {
  width: 16px;
  height: auto;
  border-radius: 10px;
}

p {
  display:inline-block;
  margin:0;
}

.avatar {
  margin-left:20px;
  margin-top:3px;
}

#members {
  margin-bottom: 20px;
}

.idle {
  color: #666;
}

.game {
  color:#666;
  margin-left:20px;
  font-size:8pt;
  margin-top:0;
}

.game b {
  color:#777;
}

#connectButton {
  position: absolute;
  bottom: 0;
  color: #bbb;
  background-color: #444;
  text-align: center;
  width: 230px;
  height: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 25px;
}

#connectButton:hover {
  background-color: #666;
}
